@tailwind base;
@tailwind components;
@tailwind utilities;

.form-group input:focus ~ label,
.form-group input:not(:placeholder-shown) ~ label {
  @apply -top-3.5 text-sm text-indigo-500;
}

.form-group .bar:before,
.form-group .bar:after {
  @apply content-none absolute bg-indigo-500 transition-all duration-200;
  height: 2px;
  width: 0;
  bottom: 0;
}

.form-group input:focus ~ .bar:before,
.form-group input:focus ~ .bar:after,
.form-group input:not(:placeholder-shown) ~ .bar:before,
.form-group input:not(:placeholder-shown) ~ .bar:after {
  @apply w-full;
}

/* From Uiverse.io by barisdogansutcu */ 
.loader {
  width: 24px;
  transform-origin: center;
  animation: rotate4 2s linear infinite;
 }
 
 circle {
  fill: none;
  stroke: white;
  stroke-width: 2;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash4 1.5s ease-in-out infinite;
 }
 
 @keyframes rotate4 {
  100% {
   transform: rotate(360deg);
  }
 }
 
 @keyframes dash4 {
  0% {
   stroke-dasharray: 1, 200;
   stroke-dashoffset: 0;
  }
 
  50% {
   stroke-dasharray: 90, 200;
   stroke-dashoffset: -35px;
  }
 
  100% {
   stroke-dashoffset: -125px;
  }
 }
 